body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure spacing between columns */
    padding: 10px;
}

.icon {
    flex: 1 1 150px; /* Ensures icons can grow and shrink but have a minimum size */
    margin: 10px; /* Adjust spacing between icons */
    text-align: center;
}

.icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.icon-image {
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
}

.icon span {
    margin-top: 5px;
}

.blank {
    width: 60px;
    height: 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

video {
    width: 100%;
    height: auto;
}

/* Media Queries */
@media (max-width: 767px) {
    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center icons horizontally on mobile */
    }
    .icon {
        margin: 10px 0; /* Mobile spacing */
        flex: 1 1 80%; /* Adjust width for mobile */
    }
}
